<div class="exp-container">
  <mat-toolbar class="exp-toggle">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Application</span>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="exp-sidenav" #snav>
        <mat-nav-list *ngFor="let route of routes">
          <a *ngIf="!!route.path" mat-list-item
             routerLink="{{route.path}}">{{route.data.title}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
